body{
    background-color: #00001a
}
.img{ border: 1px solid #ba2756; box-shadow: 0 0 20px #9b1f4a; }
/* Шрифт для заголовков */
@font-face {
    font-family: 'HeaderFont';
    src: url('Fonts/Neuropol_Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-font, h1, h2, h3, h4 {
    font-family: 'HeaderFont', sans-serif;
    color: #ba2756;
    text-shadow:
        0 0 43px #9b1f44,
        0 0 151px #9b1f4a;
}

/* Шрифт для текста */

.text-font {
    font-family: 'HeaderFont', sans-serif;
    color: rgb(54, 34, 97);
}

p{
    font-family: 'HeaderFont', sans-serif;
    color: rgb(54, 34, 97);
}

/* Кнопки */
