/*Цветовая палитра*/
:root {
    --bg-color: #05000f;
    --acsent-text-color: #D2FA3E; 
    --additional-color: #0D6EFD;
    --secondary-color: #FFF240;
    --text-color: #cd0048;

}
/*Шрифт для заголовков*/
@font-face {
    font-family: 'font-header';
    src: url('Fonts/Montserrat-Regular.ttf') format('truetype');
    
}
/*Шрифт для текста*/
@font-face {
    font-family: 'font-text';
    src: url('Fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
}

html body{
    background-color: var(--bg-color);
}
.navbar{
    background-color: #000000 !important;
}
h1, h2, th, a{
    font-family: 'font-header', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 30px; /* Устанавливает отступ между абзацами */
}
h3{
    font-family: 'font-header', sans-serif !important;
    font-weight: 700 !important;
    font-size: xx-large !important;
    margin-bottom: 30px !important;
    color: var(--text-color) !important;
}
p, tr{
    font-family: 'font-text', sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: var(--text-color);
}
p, video{
    margin-bottom: 30px; /* Устанавливает отступ между абзацами */
}
.order-window{
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius:0% 0% 10% 10%;
}
